$themes: (
  default: ("body-bg": #f9ffff,
    "primary": #04748c,
    "secondary": #00c6e0,
    "success": #04748c,
    "info": #020c2f,
    "warning": #00c6e0,
    "danger": #eb5757,
    "light": #ffffff,
    "dark": #00295c,
    "grey": #bdfafd,
  ),
  dark: ("body-bg": #020c2f,
    "primary": #04748c,
    "secondary": #00c6e0,
    "success": #04748c,
    "info": #020c2f,
    "warning": #00c6e0,
    "danger": #eb5757,
    "light": #bdfafd,
    "dark": #00295c,
    "grey": #bdfafd,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));